body { 
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0; 
}

head, title{
    text-align: center;
    padding: 1rem;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    background-color: black; 
}

header, footer { 
    text-align: center;
    padding: 1rem;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    background-color: black; 
}

.llistat { 
    display: flex; 
    flex-wrap: wrap; 
    gap: 1rem; 
    padding: 1rem; 
    justify-content: center; 
}

.card { 
    border: 1px solid #ccc; 
    padding: 1rem; 
    max-width: 250px; 
}

.detall { 
    padding: 1rem; 
    font-family: 'Times New Roman', Times, serif;
    padding: 10%;

}

h2 {
    text-align: center;
    font-size: 40px;
}


.fitxa img { 
    min-width: 100%; 
    height: auto; 
}

@media (max-width: 768px) { 
    .llistat { 
        flex-direction: column; 
        align-items: center; 
    } 
}