body { 
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0; 
}

head, title{
    text-align: center;
    padding: 1rem;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    background-color: black; 
}

header, footer { 
    text-align: center;
    padding: 1rem;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    background-color: black; 
}

.llistat { 
    display: flex; 
    flex-wrap: wrap; 
    gap: 1rem; 
    padding: 1rem; 
    justify-content: center; 
}

.card { 
    border: 1px solid #ccc; 
    padding: 1rem; 
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.detall { 
    padding: 5rem; 
    font-family: 'Times New Roman', Times, serif;

}

.card h2 {
    text-align: center;
    font-size: 35px;
}

.detall h2 {
    text-align: center;
    font-size: 80px;
}

.fitxa img { 
    min-width: 80%; 
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5%;
}

.fitxa p {
    font-size: 30px;
}

.btn {
    background-color: black;
    height: 28px;
    border-radius: 6px;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
}

.btn a {
    color: white;
    text-decoration: none;
}

.btn:hover {
    background-color: rgb(4, 23, 192);
    transition: 0.2s ease-in;
}

@media (max-width: 768px) { 
    .llistat { 
        flex-direction: column; 
        align-items: center; 
    } 
}